In [1]:
# importing libraries for reading dataset

In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [3]:
#   2.5 - Analysis of population vs overall crime

In [4]:
# importing population dataset of India according to 2019

In [5]:
state_popu = pd.read_csv('state_wise_population__2019.csv')
state_popu

,S.No,State,total_population,population_male,population_female
0,1,MAHARASHTRA,37722136,19961736,17760400
1,2,UTTAR PRADESH,25302925,13433369,11869556
2,3,ANDHRA PRADESH,18171615,9192368,8979247
3,4,WEST BENGAL,18063509,9357777,8705732
4,5,GUJARAT,17835049,9541688,8293361
5,6,KARNATAKA,15799896,8112840,7687056
6,7,TAMIL NADU,13879395,6957261,6922134
7,8,DELHI,13481997,7201322,6280675
8,9,MADHYA PRADESH,11023091,5761143,5261948
9,10,RAJASTHAN,10443016,5484470,4958546
10,11,BIHAR,6714516,3558722,3155794
11,12,HARYANA,5952223,3181968,2770255
12,13,PUNJAB,5821876,3106473,2715403
13,14,JHARKHAND,4278259,2247819,2030440
14,15,CHHATTISGARH,3137918,1612019,1525899
15,16,ORISSA,3003234,1560423,1442811
16,17,KERALA,2755973,1335615,1420358
17,18,J&K,1804987,953292,851695
18,19,ASSAM,1391154,720132,671022
19,20,UTTARAKHAND,1340397,706939,633458
20,21,CHANDIGARH,960787,525226,435561
21,22,PONDY,541801,266359,275442
22,23,TRIPURA,399688,199616,200072
23,24,MIZORAM,291822,143803,148019
24,25,MANIPUR,264986,128931,136055
25,26,HIMACHAL PRADESH,169758,93364,76394
26,27,MEGHALAYA,143007,70028,72979
27,28,NAGALAND,123777,65017,58760
28,29,ANDAMAN & NICOBAR ISLANDS,100608,53247,47361
29,30,SIKKIM,610577,323070,287507
30,31,DNH,13039,8193,4846
31,32,TELANGANA,35003674,17611633,17392041
32,33,GOA,1458545,739140,719405

In [6]:
# importing crime dataset for India state-wise

In [7]:
crime_type = pd.read_csv('01_District_wise_crimes_committed_IPC_2001_2012.csv')

crime_type

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [8]:
# crime data for Andhra Pradesh

In [9]:
andhra_crime = crime_type[8239:8240]
andhra_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8239,ANDHRA PRADESH,TOTAL,2012,2717,2183,158,1341,0,1341,1870,...,980,56768,504,4816,3714,13389,0,13929,39025,192522

In [10]:
andhra_crime = andhra_crime['TOTAL IPC CRIMES']
andhra_crime

8239    192522
Name: TOTAL IPC CRIMES, dtype: int64

In [11]:
# Population data for Andhra Pradesh

In [12]:
andhra_popu = state_popu[2:3]
andhra_popu

   S.No           State  total_population  population_male  population_female
2     3  ANDHRA PRADESH          18171615          9192368            8979247

In [13]:
andhra_popu = andhra_popu['total_population']
andhra_popu

2    18171615
Name: total_population, dtype: int64

In [14]:
# crime data for Arunachal Pradesh

In [15]:
arunachal_crime = crime_type[8257:8258]
arunachal_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8257,ARUNACHAL PRADESH,TOTAL,2012,73,29,1,46,0,46,82,...,33,438,1,67,2,26,0,94,657,2420

In [16]:
arunachal_crime = arunachal_crime['TOTAL IPC CRIMES']
arunachal_crime

8257    2420
Name: TOTAL IPC CRIMES, dtype: int64

In [17]:
# crime data for Assam

In [18]:
assam_crime = crime_type[8290:8291]
assam_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8290,ASSAM,TOTAL,2012,1368,670,54,1716,0,1716,3812,...,2830,6676,140,1840,5,6407,2,2565,27077,77682

In [19]:
assam_crime = assam_crime['TOTAL IPC CRIMES']
assam_crime

8290    77682
Name: TOTAL IPC CRIMES, dtype: int64

In [20]:
# population data for Assam

In [21]:
assam_popu = state_popu[18:19]
assam_popu

    S.No  State  total_population  population_male  population_female
18    19  ASSAM           1391154           720132             671022

In [22]:
assam_popu = assam_popu['total_population']
assam_popu

18    1391154
Name: total_population, dtype: int64

In [23]:
# crime data for Bihar

In [24]:
bihar_crime = crime_type[8335:8336]
bihar_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8335,BIHAR,TOTAL,2012,3566,5452,285,927,0,927,4807,...,799,45827,1275,118,37,3686,4,4631,35421,146614

In [25]:
bihar_crime = bihar_crime['TOTAL IPC CRIMES']
bihar_crime

8335    146614
Name: TOTAL IPC CRIMES, dtype: int64

In [26]:
# population data for Bihar

In [27]:
bihar_popu = state_popu[10:11]
bihar_popu

    S.No  State  total_population  population_male  population_female
10    11  BIHAR           6714516          3558722            3155794

In [28]:
bihar_popu = bihar_popu['total_population']
bihar_popu

10    6714516
Name: total_population, dtype: int64

In [29]:
# crime data for Chattisgarh

In [30]:
chattisgarh_crime = crime_type[8364:8365]
chattisgarh_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8364,CHHATTISGARH,TOTAL,2012,998,593,26,1034,0,1034,450,...,330,10855,81,1601,162,980,0,2888,23387,54598

In [31]:
chattisgarh_crime = chattisgarh_crime['TOTAL IPC CRIMES']
chattisgarh_crime

8364    54598
Name: TOTAL IPC CRIMES, dtype: int64

In [32]:
# population data for Chattisgarh

In [33]:
chattisgarh_popu = state_popu[14:15]
chattisgarh_popu

    S.No         State  total_population  population_male  population_female
14    15  CHHATTISGARH           3137918          1612019            1525899

In [34]:
chattisgarh_popu = chattisgarh_popu['total_population']
chattisgarh_popu

14    3137918
Name: total_population, dtype: int64

In [35]:
# crime data for Goa

In [36]:
goa_crime = crime_type[8367:8368]
goa_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8367,GOA,TOTAL,2012,45,35,3,55,0,55,24,...,34,266,0,49,16,24,0,233,1115,3608

In [37]:
goa_crime = goa_crime['TOTAL IPC CRIMES']
goa_crime

8367    3608
Name: TOTAL IPC CRIMES, dtype: int64

In [38]:
# population data for Goa

In [39]:
goa_popu = state_popu[32:33]
goa_popu

    S.No State  total_population  population_male  population_female
32    33   GOA           1458545           739140             719405

In [40]:
goa_popu = goa_popu['total_population']
goa_popu

32    1458545
Name: total_population, dtype: int64

In [41]:
# crime data for Gujarat

In [42]:
gujarat_crime = crime_type[8402:8403]
gujarat_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8402,GUJARAT,TOTAL,2012,1126,557,43,473,0,473,1720,...,282,10234,21,745,93,6658,0,5573,75702,130121

In [43]:
gujarat_crime = gujarat_crime['TOTAL IPC CRIMES']
gujarat_crime

8402    130121
Name: TOTAL IPC CRIMES, dtype: int64

In [44]:
# population for Gujarat

In [45]:
gujarat_popu = state_popu[4:5]
gujarat_popu

   S.No    State  total_population  population_male  population_female
4     5  GUJARAT          17835049          9541688            8293361

In [46]:
gujarat_popu = gujarat_popu['total_population']
gujarat_popu

4    17835049
Name: total_population, dtype: int64

In [47]:
# crime data for Gujarat

In [48]:
haryana_crime = crime_type[8426:8427]
haryana_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8426,HARYANA,TOTAL,2012,991,910,68,668,0,668,1349,...,191,3277,258,525,434,3137,0,1484,21396,62480

In [49]:
haryana_crime = haryana_crime['TOTAL IPC CRIMES']
haryana_crime

8426    62480
Name: TOTAL IPC CRIMES, dtype: int64

In [50]:
# population data for Haryana

In [51]:
haryana_popu = state_popu[11:12]
haryana_popu

    S.No    State  total_population  population_male  population_female
11    12  HARYANA           5952223          3181968            2770255

In [52]:
haryana_popu = haryana_popu['total_population']
haryana_popu

11    5952223
Name: total_population, dtype: int64

In [53]:
# crime data for Himachal Pradesh

In [54]:
himachal_crime = crime_type[8442:8443]
himachal_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8442,HIMACHAL PRADESH,TOTAL,2012,113,53,9,183,0,183,172,...,131,1173,2,250,68,251,0,562,6877,12557

In [55]:
himachal_crime = himachal_crime['TOTAL IPC CRIMES']
himachal_crime

8442    12557
Name: TOTAL IPC CRIMES, dtype: int64

In [56]:
# population data for Himachal pradesh

In [57]:
himachal_popu = state_popu[25:26]
himachal_popu

,S.No,State,total_population,population_male,population_female
25,26,HIMACHAL PRADESH,169758,93364,76394

In [58]:
himachal_popu = himachal_popu['total_population']
himachal_popu

25    169758
Name: total_population, dtype: int64

In [59]:
# crime data for Jammu & Kashmir

In [60]:
jammu_crime = crime_type[8473:8474]
jammu_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8473,JAMMU & KASHMIR,TOTAL,2012,124,511,16,303,0,303,1093,...,190,322,8,1322,347,301,0,371,14004,24608

In [61]:
jammu_crime = jammu_crime['TOTAL IPC CRIMES']
jammu_crime

8473    24608
Name: TOTAL IPC CRIMES, dtype: int64

In [62]:
# population data for Jammu & Kashmir

In [63]:
jammu_popu = state_popu[17:18]
jammu_popu

    S.No State  total_population  population_male  population_female
17    18   J&K           1804987           953292             851695

In [64]:
jammu_popu = jammu_popu['total_population']
jammu_popu

17    1804987
Name: total_population, dtype: int64

In [65]:
# crime data for Jharkhand

In [66]:
jharkhand_crime = crime_type[8500:8501]
jharkhand_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8500,JHARKHAND,TOTAL,2012,1694,842,92,812,0,812,1056,...,136,4785,302,284,10,1261,3,1594,14818,40946

In [67]:
jharkhand_crime = jharkhand_crime['TOTAL IPC CRIMES']
jharkhand_crime

8500    40946
Name: TOTAL IPC CRIMES, dtype: int64

In [68]:
# population data for Jharkhand

In [69]:
jharkhand_popu = state_popu[13:14]
jharkhand_popu

    S.No      State  total_population  population_male  population_female
13    14  JHARKHAND           4278259          2247819            2030440

In [70]:
jharkhand_popu = jharkhand_popu['total_population']
jharkhand_popu

13    4278259
Name: total_population, dtype: int64

In [71]:
# crime data for Karnataka

In [72]:
karna_crime = crime_type[8536:8537]
karna_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8536,KARNATAKA,TOTAL,2012,1860,1923,71,621,0,621,1451,...,416,20350,218,2978,100,3684,32,876,58468,134021

In [73]:
karna_crime = karna_crime['TOTAL IPC CRIMES']
karna_crime

8536    134021
Name: TOTAL IPC CRIMES, dtype: int64

In [74]:
# population data for Karnataka

In [75]:
karna_popu = state_popu[5:6]
karna_popu

   S.No      State  total_population  population_male  population_female
5     6  KARNATAKA          15799896          8112840            7687056

In [76]:
karna_popu = karna_popu['total_population']
karna_popu

5    15799896
Name: total_population, dtype: int64

In [77]:
# crime data for Kerala

In [78]:
kerala_crime = crime_type[8557:8558]
kerala_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8557,KERALA,TOTAL,2012,374,497,107,1019,0,1019,281,...,568,21170,32,3735,498,5216,0,48,101582,158989

In [79]:
kerala_crime = kerala_crime['TOTAL IPC CRIMES']
kerala_crime

8557    158989
Name: TOTAL IPC CRIMES, dtype: int64

In [80]:
# population data for Kerala

In [81]:
kerala_popu = state_popu[16:17]
kerala_popu

    S.No   State  total_population  population_male  population_female
16    17  KERALA           2755973          1335615            1420358

In [82]:
kerala_popu = kerala_popu['total_population']
kerala_popu

16    2755973
Name: total_population, dtype: int64

In [83]:
# crime data for Madhya Pradesh

In [84]:
mp_crime = crime_type[8611:8612]
mp_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8611,MADHYA PRADESH,TOTAL,2012,2373,2332,114,3425,0,3425,1302,...,814,35549,743,6655,774,3988,6,7721,114585,220335

In [85]:
mp_crime = mp_crime['TOTAL IPC CRIMES']
mp_crime

8611    220335
Name: TOTAL IPC CRIMES, dtype: int64

In [86]:
# population data for Madhya Pradesh

In [87]:
mp_popu = state_popu[8:9]
mp_popu

   S.No           State  total_population  population_male  population_female
8     9  MADHYA PRADESH          11023091          5761143            5261948

In [88]:
mp_popu = mp_popu['total_population']
mp_popu

8    11023091
Name: total_population, dtype: int64

In [89]:
# crime data for Maharashtra

In [90]:
mh_crime = crime_type[8657:8658]
mh_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8657,MAHARASHTRA,TOTAL,2012,2712,2168,171,1839,0,1839,1583,...,1246,28392,329,3935,1294,7415,0,13311,46668,202700

In [91]:
mh_crime = mh_crime['TOTAL IPC CRIMES']
mh_crime

8657    202700
Name: TOTAL IPC CRIMES, dtype: int64

In [92]:
# population  data for  Maharashtra

In [93]:
mh_popu = state_popu[0:1]
mh_popu

   S.No        State  total_population  population_male  population_female
0     1  MAHARASHTRA          37722136         19961736           17760400

In [94]:
mh_popu = mh_popu['total_population']
mh_popu

0    37722136
Name: total_population, dtype: int64

In [95]:
# crime data for Manipur

In [96]:
manipur_crime = crime_type[8668:8669]
manipur_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8668,MANIPUR,TOTAL,2012,83,409,4,63,0,63,223,...,74,285,0,49,1,43,0,2,1086,3737

In [97]:
manipur_crime = manipur_crime['TOTAL IPC CRIMES']
manipur_crime

8668    3737
Name: TOTAL IPC CRIMES, dtype: int64

In [98]:
# population data for Manipur

In [99]:
manipur_popu = state_popu[24:25]
manipur_popu

    S.No    State  total_population  population_male  population_female
24    25  MANIPUR            264986           128931             136055

In [100]:
manipur_popu = manipur_popu['total_population']
manipur_popu

24    264986
Name: total_population, dtype: int64

In [101]:
# crime data for Meghalaya

In [102]:
meghalya_crime = crime_type[8676:8677]
meghalya_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8676,MEGHALAYA,TOTAL,2012,137,63,8,164,0,164,92,...,61,157,1,43,0,16,0,102,761,2557

In [103]:
meghalya_crime = meghalya_crime['TOTAL IPC CRIMES']
meghalya_crime

8676    2557
Name: TOTAL IPC CRIMES, dtype: int64

In [104]:
# population data for Meghalaya

In [105]:
meghalya_popu = state_popu[26:27]
meghalya_popu

    S.No      State  total_population  population_male  population_female
26    27  MEGHALAYA            143007            70028              72979

In [106]:
meghalya_popu = meghalya_popu['total_population']
meghalya_popu

26    143007
Name: total_population, dtype: int64

In [107]:
# crime data for Mizoram

In [108]:
mizoram_crime = crime_type[8685:8686]
mizoram_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8685,MIZORAM,TOTAL,2012,30,21,7,103,0,103,8,...,12,103,0,85,0,8,0,34,336,1766

In [109]:
mizoram_crime = mizoram_crime['TOTAL IPC CRIMES']
mizoram_crime

8685    1766
Name: TOTAL IPC CRIMES, dtype: int64

In [110]:
# population data for Mizoram

In [111]:
mizoram_popu = state_popu[23:24]
mizoram_popu

    S.No    State  total_population  population_male  population_female
23    24  MIZORAM            291822           143803             148019

In [112]:
mizoram_popu = mizoram_popu['total_population']
mizoram_popu

23    291822
Name: total_population, dtype: int64

In [113]:
# crime data for Nagaland

In [114]:
nagaland_crime = crime_type[8697:8698]
nagaland_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8697,NAGALAND,TOTAL,2012,75,42,6,21,0,21,27,...,7,30,0,16,0,0,0,31,266,1090

In [115]:
nagaland_crime = nagaland_crime['TOTAL IPC CRIMES']
nagaland_crime

8697    1090
Name: TOTAL IPC CRIMES, dtype: int64

In [116]:
# population data for Nagaland

In [117]:
nagaland_popu = state_popu[27:28]
nagaland_popu

    S.No     State  total_population  population_male  population_female
27    28  NAGALAND            123777            65017              58760

In [118]:
nagaland_popu = nagaland_popu['total_population']
nagaland_popu

27    123777
Name: total_population, dtype: int64

In [119]:
# crime data for Odisha

In [120]:
odisha_crime = crime_type[8734:8735]
odisha_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8734,ODISHA,TOTAL,2012,1548,1879,54,1458,0,1458,1542,...,469,8223,525,4187,304,2638,0,3605,22203,67957

In [121]:
odisha_crime = odisha_crime['TOTAL IPC CRIMES']
odisha_crime

8734    67957
Name: TOTAL IPC CRIMES, dtype: int64

In [122]:
# population data for Odisha

In [123]:
odisha_popu = state_popu[15:16]
odisha_popu

    S.No   State  total_population  population_male  population_female
15    16  ORISSA           3003234          1560423            1442811

In [124]:
odisha_popu = odisha_popu['total_population']
odisha_popu

15    3003234
Name: total_population, dtype: int64

In [125]:
# crime data for Punjab

In [126]:
punjab_crime = crime_type[8763:8764]
punjab_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8763,PUNJAB,TOTAL,2012,855,1045,104,680,1,679,919,...,74,4186,118,340,31,1293,0,3405,10405,35790

In [127]:
punjab_crime = punjab_crime['TOTAL IPC CRIMES']
punjab_crime

8763    35790
Name: TOTAL IPC CRIMES, dtype: int64

In [128]:
# population data for Punjab

In [129]:
punjab_popu = state_popu[12:13]
punjab_popu

    S.No   State  total_population  population_male  population_female
12    13  PUNJAB           5821876          3106473            2715403

In [130]:
punjab_popu = punjab_popu['total_population']
punjab_popu

12    5821876
Name: total_population, dtype: int64

In [131]:
# crime data for Rajasthan

In [132]:
raja_crime = crime_type[8806:8807]
raja_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8806,RAJASTHAN,TOTAL,2012,1461,1538,98,2049,0,2049,3243,...,475,17614,478,2352,18,13312,0,8284,70240,170948

In [133]:
raja_crime = raja_crime['TOTAL IPC CRIMES']
raja_crime

8806    170948
Name: TOTAL IPC CRIMES, dtype: int64

In [134]:
# population data for Rajasthan

In [135]:
raja_popu = state_popu[9:10]
raja_popu

   S.No      State  total_population  population_male  population_female
9    10  RAJASTHAN          10443016          5484470            4958546

In [136]:
raja_popu = raja_popu['total_population']
raja_popu

9    10443016
Name: total_population, dtype: int64

In [137]:
# crime data for Sikkim

In [138]:
sikkim_crime = crime_type[8811:8812]
sikkim_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8811,SIKKIM,TOTAL,2012,7,7,0,34,0,34,10,...,20,91,1,19,0,4,0,32,58,528

In [139]:
sikkim_crime = sikkim_crime['TOTAL IPC CRIMES']
sikkim_crime

8811    528
Name: TOTAL IPC CRIMES, dtype: int64

In [140]:
# population data for Sikkim

In [141]:
sikkim_popu = state_popu[29:30]
sikkim_popu

    S.No   State  total_population  population_male  population_female
29    30  SIKKIM            610577           323070             287507

In [142]:
sikkim_popu = sikkim_popu['total_population']
sikkim_popu

29    610577
Name: total_population, dtype: int64

In [143]:
# crime data for Tamil Nadu

In [144]:
tn_crime = crime_type[8851:8852]
tn_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8851,TAMIL NADU,TOTAL,2012,1949,2954,44,737,0,737,1945,...,726,22100,110,1494,382,1965,0,15499,124176,200474

In [145]:
tn_crime = tn_crime['TOTAL IPC CRIMES']
tn_crime

8851    200474
Name: TOTAL IPC CRIMES, dtype: int64

In [146]:
# population data for Tamil Nadu

In [147]:
tn_popu = state_popu[6:7]
tn_popu

   S.No       State  total_population  population_male  population_female
6     7  TAMIL NADU          13879395          6957261            6922134

In [148]:
tn_popu = tn_popu['total_population']
tn_popu

6    13879395
Name: total_population, dtype: int64

In [149]:
# crime data for Tripura

In [150]:
tripura_crime = crime_type[8861:8862]
tripura_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8861,TRIPURA,TOTAL,2012,124,79,2,229,0,229,139,...,59,1504,37,314,7,858,0,10,1742,6264

In [151]:
tripura_crime = tripura_crime['TOTAL IPC CRIMES']
tripura_crime

8861    6264
Name: TOTAL IPC CRIMES, dtype: int64

In [152]:
# population data for Tripura

In [153]:
tripura_popu = state_popu[22:23]
tripura_popu

    S.No    State  total_population  population_male  population_female
22    23  TRIPURA            399688           199616             200072

In [154]:
tripura_popu = tripura_popu['total_population']
tripura_popu

22    399688
Name: total_population, dtype: int64

In [155]:
# crime data for Uttar Pradesh

In [156]:
up_crime = crime_type[8938:8939]
up_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8938,UTTAR PRADESH,TOTAL,2012,4966,4811,1410,1963,0,1963,8878,...,327,12290,2244,3247,8,7661,0,14406,68538,198093

In [157]:
up_crime = up_crime['TOTAL IPC CRIMES']
up_crime

8938    198093
Name: TOTAL IPC CRIMES, dtype: int64

In [158]:
# population data for uttar Pradesh

In [159]:
up_popu = state_popu[1:2]
up_popu

   S.No          State  total_population  population_male  population_female
1     2  UTTAR PRADESH          25302925         13433369           11869556

In [160]:
up_popu = up_popu['total_population']
up_popu

1    25302925
Name: total_population, dtype: int64

In [161]:
# crime data for Uttrakhand

In [162]:
uk_crime = crime_type[8952:8953]
uk_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8952,UTTARAKHAND,TOTAL,2012,217,161,44,148,0,148,297,...,17,1022,71,139,73,368,0,670,2118,8882

In [163]:
uk_crime = uk_crime['TOTAL IPC CRIMES']
uk_crime

8952    8882
Name: TOTAL IPC CRIMES, dtype: int64

In [164]:
# population data for Uttrakhand

In [165]:
uk_popu = state_popu[19:20]
uk_popu

    S.No        State  total_population  population_male  population_female
19    20  UTTARAKHAND           1340397           706939             633458

In [166]:
uk_popu = uk_popu['total_population']
uk_popu

19    1340397
Name: total_population, dtype: int64

In [167]:
# crime data for West Bengal

In [168]:
wb_crime = crime_type[8982:8983]
wb_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8982,WEST BENGAL,TOTAL,2012,2252,2854,522,2046,0,2046,5117,...,396,15923,593,3345,556,19865,12,4385,64482,161427

In [169]:
wb_crime = wb_crime['TOTAL IPC CRIMES']
wb_crime

8982    161427
Name: TOTAL IPC CRIMES, dtype: int64

In [170]:
# population data for West Bengal

In [171]:
wb_popu = state_popu[3:4]
wb_popu

   S.No        State  total_population  population_male  population_female
3     4  WEST BENGAL          18063509          9357777            8705732

In [172]:
wb_popu = wb_popu['total_population']
wb_popu

3    18063509
Name: total_population, dtype: int64

In [173]:
# crime data for Andman & Nicobar

In [174]:
and_crime = crime_type[8986:8987]
and_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8986,A & N ISLANDS,TOTAL,2012,15,3,0,12,0,12,8,...,4,62,2,17,4,5,0,6,351,683

In [175]:
and_crime = and_crime['TOTAL IPC CRIMES']
and_crime

8986    683
Name: TOTAL IPC CRIMES, dtype: int64

In [176]:
# population data for Andman & Nicobar

In [177]:
and_popu = state_popu[28:29]
and_popu

,S.No,State,total_population,population_male,population_female
28,29,ANDAMAN & NICOBAR ISLANDS,100608,53247,47361

In [178]:
and_popu = and_popu['total_population']
and_popu

28    100608
Name: total_population, dtype: int64

In [179]:
# crime data for Chandigarh

In [180]:
chandigarh_crime = crime_type[8988:8989]
chandigarh_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8988,CHANDIGARH,TOTAL,2012,21,44,5,27,0,27,87,...,9,42,5,45,25,73,0,3,1042,3606

In [181]:
chandigarh_crime = chandigarh_crime['TOTAL IPC CRIMES']
chandigarh_crime

8988    3606
Name: TOTAL IPC CRIMES, dtype: int64

In [182]:
# population data for Chandigarh

In [183]:
chandigarh_popu = state_popu[20:21]
chandigarh_popu

    S.No       State  total_population  population_male  population_female
20    21  CHANDIGARH            960787           525226             435561

In [184]:
chandigarh_popu = chandigarh_popu['total_population']
chandigarh_popu

20    960787
Name: total_population, dtype: int64

In [185]:
# crime data for Dadra & Nagar haveli

In [186]:
dadra_crime = crime_type[8990:8991]
dadra_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8990,D & N HAVELI,TOTAL,2012,7,2,0,3,0,3,13,...,12,25,0,2,0,0,0,23,112,318

In [187]:
dadra_crime = dadra_crime['TOTAL IPC CRIMES']
dadra_crime

8990    318
Name: TOTAL IPC CRIMES, dtype: int64

In [188]:
# population data for Dadra & Nagar Haveli

In [189]:
dadra_popu = state_popu[30:31]
dadra_popu

    S.No State  total_population  population_male  population_female
30    31   DNH             13039             8193               4846

In [190]:
dadra_popu = dadra_popu['total_population']
dadra_popu

30    13039
Name: total_population, dtype: int64

In [191]:
# crime data for Daman & Diu

In [192]:
dd_crime = crime_type[8993:8994]
dd_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
8993,DAMAN & DIU,TOTAL,2012,3,5,0,5,0,5,3,...,11,17,0,0,0,3,0,38,46,239

In [193]:
dd_crime = dd_crime['TOTAL IPC CRIMES']
dd_crime

8993    239
Name: TOTAL IPC CRIMES, dtype: int64

In [194]:
# popultion data for Daman  & Diu is not available in dataset

In [195]:
# crime data for Delhi

In [196]:
delhi_crime = crime_type[9011:9012]
delhi_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
9011,DELHI UT,WEST,2012,52,37,10,79,0,79,454,...,18,227,18,53,6,327,0,292,1144,5558

In [197]:
delhi_crime = delhi_crime['TOTAL IPC CRIMES']
delhi_crime

9011    5558
Name: TOTAL IPC CRIMES, dtype: int64

In [198]:
# population data for Delhi

In [199]:
delhi_popu = state_popu[7:8]
delhi_popu

   S.No  State  total_population  population_male  population_female
7     8  DELHI          13481997          7201322            6280675

In [200]:
delhi_popu = delhi_popu['total_population']
delhi_popu

7    13481997
Name: total_population, dtype: int64

In [201]:
# crime data for Lakshadweep

In [202]:
lak_crime = crime_type[9013:9014]
lak_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60

In [203]:
lak_crime = lak_crime['TOTAL IPC CRIMES']
lak_crime

9013    60
Name: TOTAL IPC CRIMES, dtype: int64

In [204]:
# population data for Lakshadweep is not available in dataset.

In [205]:
# criime data for Puducherry

In [206]:
pudu_crime = crime_type[9016:9017]
pudu_crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [207]:
pudu_crime = pudu_crime['TOTAL IPC CRIMES']
pudu_crime

9016    4281
Name: TOTAL IPC CRIMES, dtype: int64

In [208]:
# population data for Puducherry

In [209]:
pudu_popu = state_popu[21:22]
pudu_popu

    S.No  State  total_population  population_male  population_female
21    22  PONDY            541801           266359             275442

In [210]:
pudu_popu = pudu_popu['total_population']
pudu_popu

21    541801
Name: total_population, dtype: int64